.jumbotron {
    margin-bottom: 0px;
    background-image: url('/assets/images/home-bg-image.jpg');

    .jumbotron-content {
        padding: 100px 0 140px;
    }

    h1 {
        font-size: 58px;
    }

    h4 {
        padding: 15px 0px;
        font-size: 28px;
    }
}

.form-container {
    padding: 30px 10px;

    #checkout-date, #checkin-date {
        font-size: 16px;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
}

.hotel-intro {
    padding: 30px;
    margin-bottom: 15px;

    img {
        height: 250px;
        width: 85%;
    }
}

.hotel-rooms {
    padding: 20px 0px;

    h4 {
        padding: 20px 0px;
    }

    .card-img-top{
        height: 300px;
    }

    .room-info {
        .price {
            color: orange;
        }
        .count {
            color: #a8a8a8;
        }
    }
}

.hotel-amenities {
    background-image: url('/assets/images/home-relex-bg.jpg');
    padding: 100px 100px;
    color: #ffffff;

    h3 {
        padding: 20px 0px;
    }
    p {
        padding: 10px 0px;
    }
}

.hotel-services {
    padding: 25px;
    margin-bottom: 15px;

    h4 {
        margin-bottom: 25px;
    }

    .icon {
        padding: 10px 0px;
    }
}