.head-img {
    img {
        width: 100%;
        height: 400px;
    }
}
.discover-section {
    padding: 20px;
    margin: 5px auto;
    border-radius: 5px;

    img {
        height: 200px;
        width: 100%;
    }
}

.family-title {
    padding: 5px 0px;
}

.family-content {
    padding: 10px 0px;
}

.discover-card-img {
    height: 200px;
}