<div class="head-img">
  <img class="img-responsive" src="assets/images/discover.jpg" />
</div>
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container text-center text-success">
    <h2>Nothing feels like being there in-person.</h2>
    <p>Life is all about being with those who matter most.</p>
    <p>Just think of the moments you'll create when you are there in person.</p>
    <h4>We're there. So you can be too.</h4>
  </div>
</div>

<div class="container text-primary discover-section">
  <h2>London</h2>
  <div class="mt-2 mb-2">Serene Neuk offers its services at two main hubs in London where you have excellent connectivity to rest of London right from our doorstep.</div>
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img class="img-responsive" src="assets/images/hotel-table.jpg" />
    </div>
    <div class="col-md-6">
      <h4>Serene Neuk Stratford</h4>
      <p class="text-justify">
        Wake up to an excellent view of the Bow Bridge from your window while enjoying 
      your pleasant stay bestowed with exceptional hospitality at Serene Neuk. 
      Find the perfect place to stretch your legs after you finish up a wonderful 
      expedition with your kin and mates around the most happening city in Great Britain.
      </p>
    </div>
  </div>
</div>

<div class="container text-danger discover-section">
  <div class="row">
    <div class="col-md-6">
      <h4>Serene Neuk Luton</h4>
      <p class="text-justify">
        Located very near to Luton Airport, Serene Neuk Luton extends its welcome hands the 
      minute you land in London by providing free airport pick-ups from Luton Airport. 
      Find the perfect place to stretch your legs after you finish up a wonderful expedition 
      with your kin and mates around the most happening city in Great Britain.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="assets/images/hotel-table.jpg" />
    </div>
  </div>
</div>

<div class="container text-success discover-section">
  <h2>Glasgow</h2>
  <div class="mt-2 mb-2">You can find our trustworthy hotels of our Serene Neuk family at the below two locations which provides you friendly hospitality you cannot resist to share stories about when you are back home.</div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="assets/images/hotel-table.jpg" />
    </div>
    <div class="col-md-6">
      <h4>Serene Neuk Buchanan Street</h4>
      <p class="text-justify">
        Located at the center of the bustling street of Glasgow with Buchanan galleries, 
        the Italian centre, the St. Enoch centre, and the luxurious Princess Square stand out. 
        While the city warms your travel thirsty soul with its diverse range of tourist 
        attractions it has to offer, leave it with us to take care of your tired soles as 
        you kick back and relax with a warm cup of tea at Serene Neuk.
      </p>
    </div>
  </div>
</div>

<div class="container text-primary discover-section">
  <div class="row">
    <div class="col-md-6">
      <h4>Serene Neuk Dennistoun</h4>
      <p class="text-justify">
        Enjoy a short walk from Serene Neuk to one of the infamous parks of Glasgow Green 
        where The People’s Palace Museum stands tall with all its glory. While the city 
        warms your travel thirsty soul with its diverse range of tourist attractions it 
        has to offer, leave it with us to take care of your tired soles as you kick back 
        and relax with a warm cup of tea at Serene Neuk.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="assets/images/hotel-table.jpg" />
    </div>
  </div>
</div>

<div class="bg-secondary">
  <div class="container pad-10">
    <h2 class="family-title text-white">What’s New?</h2>
    <div class="family-content">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top discover-card-img" src="assets/images/hotel.webp" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">COVID-19 Policies and Regulations</h4>
              <p class="card-text text-justify">
                Pertaining to the current pandemic situation and the new regulations 
                that have been set in place, all customers who have booked their stays at any branch of 
                Serene Neuk are expected to undergo a temperature check during check-in and check-out. 
                Mandatory face coverings to be worn when accessing any communal areas like lounges, 
                restaurants, and spas during your stay. Prior booking to be made for spas and access 
                to the pool area has been suspended temporarily until further notice.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top discover-card-img" src="assets/images/breakfast.webp" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Festive Specials</h4>
              <p class="card-text text-justify">
                We the Serene Neuk family wish to make your family time 
                as memorable as possible when you spend your dream vacation staying with us. Every hotel 
                in Serene Neuk chain offers an ethereal glow as our team decorates the building with artistic 
                flair and an exceptional buffet with all your Christmas treats ranging from eggnog and 
                gingerbread biscuits to a wide variety of continental cuisine. We also offer 15% discount 
                on our family rooms and a souvenir that you can unwrap as your Christmas present with every 
                booking from 20th December to 05th of January.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top discover-card-img" src="assets/images/hotel-table.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Conference Rooms</h4>
              <p class="card-text text-justify">
                Our steadfast crew at Serene Neuk is always willing to help you obtain the right 
                location with all the amenities you need ranging from video conferencing enabled screens, 
                projector set up, ordered seating arrangement, with the best rates in the market. 
                Due to the current pandemic situation, booking facility to Conference rooms has been 
                suspended temporarily until further notice.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top discover-card-img" src="assets/images/woman.webp" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Party Halls</h4>
              <p class="card-text text-justify">
                Be it a birthday party with kids and toys or a bachelor party with cocktails and a DJ, 
                our enthusiastic team at Serene Neuk is always here to help you organize and proudly host 
                your party that is bound to be the talk of the town as the proclaimed party of the year. 
                Due to the current pandemic situation, booking facility to Conference rooms has been suspended 
                temporarily until further notice.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
