<div class="container-fluid bg-dark">
  <div class="container footer-container">
    <div class="links-container">
      <div class="row">
        <div class="col-12 col-md-8">
          <h4>Quick Links</h4>
          <div class="container row">
            <div class="col-6 col-md-3">
              <p>
                <a>Our Rooms</a>
              </p>
              <p>
                <a>Single Room</a>
              </p>
              <p>
                <a>Double Room</a>
              </p>
              <p>
                <a>Family Room</a>
              </p>
            </div>
            <div class="col-6 col-md-3">
              <p>
                <a>News</a>
              </p>
              <p>
                <a>About Us</a>
              </p>
              <p>
                <a>Login</a>
              </p>
            </div>
            <div class="col-6 col-md-3">
              <p>
                <a>Gallery</a>
              </p>
              <p>
                <a>Testimonials</a>
              </p>
              <p>
                <a>Our History</a>
              </p>
            </div>
            <div class="col-6 col-md-3">
              <p>
                <a>Twitter</a>
              </p>
              <p>
                <a>Facebook</a>
              </p>
              <p>
                <a>Pinterest</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <h4>Contact Information</h4>
          <div class="container row">
            <div class="col-md-12">
              <p>
                <i class="fa fa-map-marker-alt"></i>
                <span class="pl-3">128, 37 London Road, Barking, Greater London, IG11 8FW</span>
              </p>
              <p>
                <i class="fa fa-phone-alt"></i>
                <span class="pl-3">1-800-1234-123</span>
              </p>
              <p>
                <i class="fa fa-envelope"></i>
                <span class="pl-3">admin@sereneneuk.ac.uk</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright-container">
      <p>© 2020 All Rights Reserved. Terms of Use and Privacy Policy</p>
    </div>
  </div>
</div>