.footer-container {
    font-size: 13px;
    color: #c8c8c8;
}

.links-container {

    h4 {
        padding: 20px 0px;
        margin-bottom: 15px;
        border-bottom: 1px solid #c8c8c8;
    }
}

.copyright-container {
    padding: 10px 0px;
}