<div class="jumbotron jumbotron-fluid">
    <div class="jumbotron-content">
        <div class="container text-white">
            <h2>Popular Locations</h2>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="container">
        <div class="row location-container">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="assets/images/breakfast.webp" alt="Card image">
                    <div class="card-body">
                        <h4 class="clearfix card-title">London</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="assets/images/breakfast.webp" alt="Card image">
                    <div class="card-body">
                        <h4 class="clearfix card-title">Glasgow</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>